{
  "debug": false,
  "versionCheck": true,
  "buildType": 0,
  "locale": "en",
  "unmuteDelay": 400,
  "maxPhoneSpeakerRange": 5,
  "notifications": {
    "oxLib": false,
    "gta": true,
    "redm": false,
    "own": false
  },
  "keyBinds": {
    "toggleRange": "Z",
    "radioTransmit": "CAPITAL",
    "megaphone": "B"
  },
  "maxRadioChannels": 6,
  "voiceRange": {
    "defaultIndex": 2,
    "ranges": [
      1,
      3,
      8,
      15,
      20,
      25,
      30,
      40
    ],
    "sendNotification": false,
    "markerColor": {
      "enabled": true,
      "r": 0,
      "g": 255,
      "b": 0,
      "a": 50,
      "duration": 1000
    }
  },
  "megaphone": {
    "range": 30,
    "automaticVehicleDetection": true,
    "allowedVehicleClasses": [
      18,
      19
    ]
  },
  "saltyChatBridge": {
    "enabled": true,
    "keyBinds": {
      "primaryRadio": "N",
      "secondaryRadio": "CAPITAL"
    }
  },
  "vehicleMuffling": true,
  "mufflingRange": -1,
  "mufflingVehicleWhitelist": [
    "gauntlet6",
    "draugur",
    "bodhi2",
    "vagrant",
    "outlaw",
    "trophytruck",
    "ratel"
  ],
  "mufflingIntensities": {
    "differentRoom": 10,
    "bothCarsClosed": 10,
    "oneCarClosed": 6,
    "megaPhoneInCar": 6
  },
  "radioAntiSpamCooldown": false
}
