name: Build

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version to release (e.g. X.X.X)"
        required: true
      prerelease:
        description: "Is this a prerelease?"
        required: true
        default: false
        type: boolean

permissions:
  contents: write

jobs:
  create-release:
    name: Build and Create Tagged release
    runs-on: ubuntu-latest

    steps:
      - name: Install archive tools
        run: sudo apt-get install -y zip

      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: package.json

      - name: Get variables
        id: get_vars
        run: |
          echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "DATE=$(date +'%D')" >> $GITHUB_OUTPUT

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Bump package version
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          pnpm version ${{ inputs.version }} --git-tag-version false

      - name: Run build
        run: pnpm create-resource
        env:
          CI: false

      - name: Bundle files
        run: |
          cd ./resource && zip -r ../yaca-voice.zip ./yaca-voice

      - name: Create Release
        uses: "minemalox/automatic-release@v0"
        id: auto_release
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          release_version: "v${{ inputs.version }}"
          automatic_release_tag: true
          title: "v${{ inputs.version }}"
          prerelease: ${{ inputs.prerelease }}
          files: yaca-voice.zip
          ignore_authors: |
            github-actions[bot]

        env:
          CI: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
